<div class="card" style="width: 50rem;">
    <img src="../static/images/ht.png" class="img-fluid" style="width:100%; height: auto";>
    <div class="card-body">
      <h4 class="card-title">Heart Meridian Meditation</h4>
      <p class="card-text">Beginning at the <strong>heart</strong>, one branch travels down the diaphram to the 
        <strong>small intestine</strong> while another runs up the <strong>chest</strong> to the neck and eyes. 
        The last branch travels across the <strong>chest</strong>, through the lungs and to the <strong>armpits</strong>. 
        From there it courses down the <strong>inner arm</strong>to the <strong>palms, ending at the pinky finger</strong>. 
      <br>
      <br>
        As you meditate, imagine filling your heart with overwhelming joy as your concentrate on spreading this 
        through the pathway of the heart meridian, across the torso and arms, all the way down to the pinky finger. 
        The color is pink and red.</p>
      <a href="home.html" class="btn btn-primary">Home</a>
    </div>
  </div>