
{% include 'navbar.html' %}
    <div class="container">
    
        <h4>Let's narrow down the meridian. If you currenlty have pain, point on Teddy where it is</h4>
        <img src="../static/images/mmTeddy.png" class="img-fluid style.max-width: 100%; height: auto"; usemap="#image-map">

            <map name="image-map">
                <area target="" alt="Back " title="Back " href="kidney.html" coords="225,164,240,196" shape="rect">
                <area target="" alt="Headache" title="Headache" href="liver.html" coords="112,88,36" shape="circle">
                <area target="" alt="temporal" title="temporal" href="liver.html" coords="82,112,59,81" shape="rect">
                <area target="" alt="temporal" title="temporal" href="liver.html" coords="82,83,60,110" shape="rect">
                <area target="" alt="face" title="face" href="lung.html" coords="110,123,41" shape="circle">
                <area target="" alt="stomache" title="stomache" href="spleen.html" coords="113,187,19" shape="circle">
                <area target="" alt="arm" title="arm" href="lung.html" coords="157,200,146,160" shape="rect">
                <area target="" alt="neck" title="neck" href="lung.html" coords="207,146,249,154" shape="rect">
                <area target="" alt="leg.post" title="leg.post" href="kidney.html" coords="206,245,219,209" shape="rect">
                <area target="" alt="leg.post" title="leg.post" href="kidney.html" coords="246,211,258,243" shape="rect">
                <area target="" alt="leg.ant" title="leg.ant" href="spleen.html" coords="123,208,140,249" shape="rect">
                <area target="" alt="leg.ant" title="leg.ant" href="spleen.html" coords="85,207,101,247" shape="rect">
                <area target="" alt="head.post" title="head.post" href="kidney.html" coords="231,114,46" shape="circle">
                <area target="" alt="shoulder" title="shoulder" href="heart.html" coords="249,159,266,167" shape="rect">
                <area target="" alt="shoulder" title="shoulder" href="heart.html" coords="218,160,198,168" shape="rect">
                <area target="" alt="arm" title="arm" href="heart.html" coords="82,159,69,202" shape="rect">
                <area target="" alt="chest" title="chest" href="heart.html" coords="81,160,147,179" shape="rect">
                </map>
                </map>
            
   
        <h4>Otherwise, click on the photo that best describes how you feel or what you want to feel</h4>
        <img src="../static/images/Mood Photo Library.png" class="img-fluid;" usemap="#image2">

            <map name="image2">
                <area target="" alt="frustration " title="frustration " href="liver.html" coords="941,603,711,14" shape="rect">
                <area target="" alt="regret" title="regret" href="lung.html" coords="1425,316,1303,0" shape="rect">
                <area target="" alt="sadness" title="sadness" href="lung.html" coords="337,409,116" shape="circle">
                <area target="" alt="joy" title="joy" href="heart.html" coords="719,423,407,18" shape="rect">
                <area target="" alt="will" title="will" href="kidney.html" coords="460,853,687,453" shape="rect">
                <area target="" alt="worry" title="worry" href="spleen.html" coords="968,344,1089,635" shape="rect">
                <area target="" alt="joy" title="joy" href="heart.html" coords="17,22,314,273" shape="rect">
                <area target="" alt="fear" title="fear" href="kidney.html" coords="1273,324,974,30" shape="rect">
                <area target="" alt="water" title="water" href="kidney.html" coords="1117,352,1425,868" shape="rect">
                <area target="" alt="anger" title="anger" href="liver.html" coords="731,673,1075,882" shape="rect">
                <area target="" alt="release" title="release" href="liver.html" coords="304,576,371,884" shape="rect">
                <area target="" alt="anger" title="anger" href="liver.html" coords="43,362,201,876" shape="rect">
                </map>
           </map>   
        
               
    </div>
 
