<div class="card" style="width: 50rem;">
    <img src="../static/images/kd.png" class="img-fluid" style="width:100%; height: auto";>
    <div class="card-body">
        <h4 class="card-title">Kidney Meridian Meditation</h4>
        This meridian begins at the <srong>small toe</srong>, moving to the bottom of the <strong>foot</strong> 
        then towards the <strong>ankle</strong>, traveling up the <strong>inner leg</strong> and enters the body at the 
        <strong>base of the spine</strong>. It passes the <strong>kidney, urinary bladder</strong> then enters the 
        <strong>abdomen</strong>, then the <strong>lungs, heart and pericardium</strong>.  Another branch travels to the 
        <strong>liver</strong>then towards the <strong>base of the tongue</strong>. 
      <br>
      <br>
        As you meditate on this pathway, imagine being surrounded by water and sending nourishement to all the 
        internal organs from the bottom of the foot up to the throat and back of the head. 
    </div>
      <a href="home.html" class="btn btn-primary">Home</a>
    
  </div>