<div class="card" style="width: 50rem;">
    <img src="../static/images/lv.png" class="img-fluid" style="width:100%; height: auto";>
    <div class="card-body">
      <h4 class="card-title">Liver Meridian Meditation</h4>
      <p class="card-text">This meridian begins at the <strong>big toe</strong>and moves along the <strong>top of the foot</strong>
        and up the <strong>legs</strong>to enter the groin area then <strong>ascends</strong>internally to the 
        <strong>liver and gallbladder</strong> as well as dispersing along the <strong>ribs and chest</strong> as it 
        moves towards the <strong>neck</strong>.  It continues to the <strong>face</strong>as it reaches the <strong>eyes</strong>. 
        A branch circles the <strong>cheeks and lips</strong> then moves to the <strong>top of the head</strong>. 
      <br>
      <br>
        As you meditate on the course of this meridian, imagine being under a tree and release 
        what you don't need into the earth as you continue to nourish the body along the course of the meridian.
    </div>
        <a href="home.html" class="btn btn-primary">Home</a>
    
  </div>