<div class="card" style="width: 50rem;">
    <img src="../static/images/pc.png" class="img-fluid" style="width:100%; height: auto";>
    <div class="card-body">
      <h4 class="card-title">Lung Meridian Meditation</h4>
      <p class="card-text">Let's begin by tracing the Lung meridian. Start by placing your both hands at 
          your <strong>belly</strong>, move up to the <strong>chest</strong>, 
          through the <strong>lungs</strong> and toward both sides of the <strong>neck</strong> to the 
          <strong>clavicle</strong>. Now down the <strong>inner arm</strong> passing the <strong>wrist</strong> towards the <strong>thumb</strong>. 
        <br>
        <br>As you meditate, concentrate on tracing this path focusing on the words in bold. 
        The color you should visualize is <strong>white</strong>, the element is <strong>metal</strong>, think of <strong>weightlessness</strong> 
        or falling softly like a feather.
    </div>
      <a href="home.html" class="btn btn-primary">Home</a>
    
  </div>