{% extends 'home.html'%}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<div class="container">
<div class="modal" id="lu" tabindex="-1">
  <div class="modal-dialog modal-dialog-scollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" text-align:center; >Lung Meditation</h3>
        <img src="../static/images/pc.png" class="img-fluid" style="width:100%; height: auto";> 

      </div>
      <div class="modal-body">
        <p>Let's begin by tracing the Lung meridian. Start by placing your both hands at your <strong>belly</strong>, move up to the <strong>chest</strong>, through the <strong>lungs</strong> and toward both sides of the <strong>neck</strong> to the <strong>clavicle</strong>. Now down the <strong>inner arm</strong> passing the <strong>wrist</strong> towards the <strong>thumb</strong>. 
          <br>
          <br>As you meditate, concentrate on tracing this path focusing on the words in bold. The color you should visualize is <strong>white</strong>, element is <strong>metal</strong>, taste is <strong>pungent</strong>, think of <strong>weightlessness</strong> or falling softly like a feather.</br>
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<div class="modal" id="li" tabindex="-1">
  <div class="modal-dialog modal-dialog-scollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Large Intestine Meditation</h3>
        <img src="../static/images/bioluminence.jpeg" class="img-fluid" style="width:100%; height: auto";>
      </div>
      <div class="modal-body">
        <p>Starts from tip of <strong>forefinger</strong> and runs up the forefinger between the forefinger and thumb. 
          Up the <strong>arm</strong> to <strong>elbow</strong>, then up the upper arm to highest part of the <strong>shoulders</strong>. 
          One branch goes to the lungs then down to the Li.  Another goes up along the <strong>neck</strong> to the face, moving across the 
          <strong>lips</strong> to the opposite side of the <strong>nose</strong>
          <br>
          <br>
          As you meditate, concentrate on tracing this path focusing on the words in bold. The color you should visualize is <strong>letting go</strong> 
          and releasing at every exhale along the meridian. <strong>white</strong>, element is <strong>metal</strong>, taste is <strong>pungent</strong>, 
          think of walking along an <strong>open field</strong>.</br>
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>

<!-- Modal -->
<div class="modal fade" id="st" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="st">Stomach Meridian Medidation</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../static/images/st.png" class="img-fluid" style="width:100%; height: auto";> 
        <p>Starting near the sides of the <strong>nose</strong>, traveling up to the <strong>eyes</strong> 
          then down the <strong>jaw</strong>. One branch goes up the side of the face to the corner of the 
          <strong>forehead</strong>. Another goes down the neck to the front of the body, first to 
          the diaphram then the <strong>stomach</strong>. It continues down the <strong>front of the leg</strong> to the knees, 
          then all the way to the <strong>first 3 toes</strong>.
        <br>
        <br>
          Imagine something yellow, fragrant, and letting go of thoughts as you follow the course 
          of the meridian down the body and releasing through the first 3 toes.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
 <div class="modal fade" id="ht" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="ht">Heart Meridian Medidation</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../static/images/ht.png" class="img-fluid" style="width:100%; height: auto";> 
        <p>Beginning at the <strong>heart</strong>, one branch goes down the diaphram to the 
          <strong>small intesting</strong>, another runs up the <strong>chest</strong>, up the neck to the eyes. 
          The last branch goes across the <strong>chest</strong>, through the lungs and to the <strong>armpit</strong>. 
          From there it travels down the <strong>inner arm</strong>to the <strong>palms, ending at the pinky</strong>. 
        <br>
        <br>
          As you meditate, imagine filling your heart with overwhelming joy as your concentrate on spreading joy
          through the pathway of the heart meridian, across the torso and arms, all the way down to the pinky. 
          The color is pink and red.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<div class="modal fade" id="sp" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="sp">Spleen Meridian Medidation</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../static/images/st.png" class="img-fluid" style="width:100%; height: auto";> 
        <p> Beginning at the <strong>big toe</strong>and traveling up the inner foot, then to the inner leg and the groin area 
            where it continues to the <strong>abdomen</strong>, internally to the <strong>stomach and spleen</strong>. 
            It continues to the <strong>throat to the root of the tongue</strong>. Another branch travels down to the <strong>heart</strong>. 
        <br>
        <br>
            As you meditate on this path, connect the inner legs, the stomach, up to the chest, throat and tongue. 
            The taste is sweet, the color is yellow and imagine traveling through a marsh as  
            you pull your legs out of the marsh, lifting the energy up. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<div class="modal fade" id="si" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="si">Small Intestine Meridian Medidation</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../static/images/manhattanhedge.jpeg" class="img-fluid" style="width:100%; height: auto";> 
        <p> 
          This meridian begins at the <strong>pinky</strong> and travels up the <strong>outer edge of the arm</strong> 
          all the up to the <strong>shoulder</strong>. From here, a branch descends through the <strong>chest</strong>, 
          through the <strong>heart, stomach then small intestine</strong>. Another branch ascends from the shoulder to the neck and up to the cheeks where it 
          continues to the <strong>outer eye and ear</strong>.  
        <br>
        <br>
            The color is red. Imagine traveling through a city with confidence and discernment. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<div class="modal fade" id="kd" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="kd">Kidney Meridian Medidation</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img > 
        <p> 
          This meridian begins at the <srong>small toe</srong>, moving to the bottom of the <strong>foot</strong> 
          then towards the <strong>ankle</strong>, traveling up the <strong>inner leg</strong>and enters the body at the 
          <strong>base of the spine</strong>. It passes the <strong>kidney, urinary bladder</strong>then enters the 
          <strong>abdomen</strong>, then the <strong>lungs, heart and pericardium</strong>.  Another branch travels to the 
          <strong>liver</strong>then towards the <strong>base of the tongue</strong>. 
        <br>
        <br>
          As you meditate on this pathway, imagine being surrounded by water and charting nourishement to all the 
          internal organs from the bottom of the foot up the throat. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<div class="modal fade" id="lv" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="lv">Liver Meridian Medidation</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../static/images/lv.png" class="img-fluid" style="width:100%; height: auto";> 
        <p> 
          This meridian begins at the <strong>big toe</strong>and moves along the <strong>top of the foot</strong>
          and up the <strong>legs</strong>to enter the groin area then <strong>ascends</strong>internally to the 
          <strong>liver and gallbladder</strong> as well as dispersing along the <strong>ribs and chest</strong> as it 
          moves towards the <strong>neck</strong>.  It continues to the <strong>face</strong>as it reaches the <strong>eyes</strong>. 
          A branch circles the <strong>cheeks and lips</strong> then moves to the <strong>top of the head</strong>. 
        <br>
        <br>
          As you meditate on the course of this meridian, imagine being under a tree and release 
          what you don't need into the earth as you continue to nourish the body along the course of the meridian.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

