<div class="card" style="width: 50rem;">
    <img src="../static/images/st.png" class="img-fluid" style="width:100%; height: auto";>
    <div class="card-body">
      <h4 class="card-title">Spleen Meridian Meditation</h4>
      <p class="card-text">Beginning at the <strong>big toe</strong> and traveling up the inner foot, then to the inner leg and the groin area 
        where it continues to the <strong>abdomen</strong>, internally to the <strong>stomach and spleen</strong>, 
        moving further upwards to the <strong>throat and root of the tongue</strong>. Another branch travels down to the <strong>heart</strong>. 
    <br>
    <br>
        As you meditate on this path, connect the inner legs, the stomach, up to the chest, throat and tongue. 
        The taste is sweet, the color is yellow and imagine traveling through a marsh as  
        you pull your legs out of the marsh, lifting the energy upward. 
    </div>
      <a href="home.html" class="btn btn-primary">Home</a>
    
  </div>